.navbar{
    height: 10%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgb(207, 206, 206);
    display: flex;
    justify-content: space-between;
     padding: 20px;
  button{
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10PX;
 }
     svg{
        width: 20px;
        height: 20px;
     }
}

body[data-theme="light"] {
   background-color: #ffffff;
   color: #000000;
 }
 
 body[data-theme="dark"] {
   background-color: #000000;
   color: #ffffff;
 }