.sidebar{
width: 15%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: all 0.4s;
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 5px;
        margin-top: 40px;
  
  svg{
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }
span{
    font-weight: bold;
}

 }
 .items,.log-out{
    display: flex;
    justify-content: center;
    ul{
 
        li{
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            &:hover{
                background-color: #a0a9bdf6;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
    .selected{
        background-color: #1677ff;
        color: #fff;
        border-radius: 10px;
    }
 }
}
.sidebarcollapse{
    width: 5%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
      svg{
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      span{
        display: none;
      }
 
     }
     .items,.log-out{
        display: flex;
        justify-content: center;
        ul{
     
            li{
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                &:hover{
                    background-color: #a0a9bdf6;
                    color: #fff;
                    border-radius: 10px;
                }
                a{
                    display: none;
                }
            }
        }
        .selected{
            background-color: #1677ff;
            color: #fff;
            border-radius: 10px;
        }
     }
  
  
    }


    html[dir='ltr']{
        .sidebar{
            width: 15%;
            height: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.4s;
            background-color: red !important;
            .logo{
                background-image: url("../../assests/images.png");
                background-size: 100%;
                height: 100px;
                width: 100px;
                text-align: center;
                border-radius: 50%;
            
            
             }
             .items,.log-out{
                display: flex;
                justify-content: center;
                ul{
             
                    li{
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        &:hover{
                            background-color: #a0a9bdf6;
                            color: #fff;
                            border-radius: 10px;
                        }
                    }
                }
                .selected{
                    background-color: #1677ff;
                    color: #fff;
                    border-radius: 10px;
                }
             }
            }   
    }