.ant-table {
  
    width: 100%;
    overflow: auto;
    min-width: 200px;
    max-width: 100%;
    .ant-table-thead{
      .ant-table-cell{
         text-align: center;
       }
    }
    .ant-table-cell{
      text-align: center;
    }
  }
  .table{
    width: 100%;
 }

 .actions{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;

 }
 .items {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  .ant-input-group-wrapper{
    width: 250px !important;
    max-width: 250px !important;
    border-radius: 20px;
 }
 .ant-input{
  width: 250px !important;
  max-width: 250px !important;
  border-radius: 20px;
}
}
.modal-delet{
  background-color: red;
}