.login{
    width: 400px;
    height: auto;
    h1{
        text-align: center;
        padding: 20px;
    }
    .create-account{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    
      svg{
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      span{
    font-weight: bold;
    font-size: 18px;
      }
 
     }
}