.mission{
 .mission-content{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(1fr,auto);
    .card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        background-color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        color: #fff;
        margin-bottom: 10PX;
        padding: 10px;
        text-align: center;
        overflow: auto;
        div{
            width: calc(100% / 4)
        }
    }
 }
 
 .actions-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    
  

 }
}
