@media only screen and (max-width: 576px) {
  .header {
   justify-content: space-evenly
  }
  .menuIcon{
    display: block;
    font-size: 20px;
    margin-top: 20px;
  }
  .selesctswitch{
    display: none;
  }
}

@media  (width > 576px) {

  .menuIcon{
    display: none;
    
  }
}
