
@media (max-width:576px){
    .ant-modal-wrap {
        padding: 50px;
        text-align: center;
        display: flex;
      }
      .employee{
        .items{
            gap: 20px;
            
        }
      }
}