
@media (max-width:576px){
    .ant-modal-wrap {
        padding: 50px;
        text-align: center;
        display: flex;
      }
      .employee,.mission{
        .items{
            gap: 30px;
            width: 100%;
            padding: 10px !important;
            
        }
      }
      .ant-input-group-wrapper{
        width: 150px !important;
        max-width: 150px !important;
        border-radius: 20px;
     }
     .ant-input{
      width: 150px !important;
      max-width: 150px !important;
      border-radius: 20px;
   }
}