@media (max-width: 576px) {
  .sidebar {
    width: 15%;
    padding: 30px;
    .logo{
      span{
        display: none;
      }
    }
   
    .items{padding: 0px;
 
    ul {
   
      li {
        a {
          display: none;
        }
      }
    }
  }
  .log-out{
    ul{
      li{
        a{
          display: none;
        }
      }
    }
  }
  }
  .sidebarcollapse{
    width: 15%;
   
    .tems{
      padding: 0PX;
    ul{
   
      li{
        a{
          display: none;
        }
      }
    }
  }
  .log-out{
    ul{
      li{
        a{
          display: none;
        }
      }
    }
  }
}
}
@media (min-width: 576px) and (max-width:920px) {
  .sidebar{
    .logo{
      svg{
        width: 30px;
        height: 30px;
      }
      span{
        font-size: 12px !important;
      }
     }
  }
  .sidebarcollapse{
    width: 10% !important;
    
    .tems{
      padding: 0PX;
    ul{
   
      li{
        a{
          display: none;
        }
      }
    }
  }
  .log-out{
    ul{
      li{
        a{
          display: none;
        }
      }
    }
  }
}
}
