.startregister {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 50%;
  background-color: rgba(167, 164, 172, 0.438);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 576px) {
  .startregister {
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
}
