.startLogin {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 50%;
    background-color: rgba(14, 15, 15, 0.397);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  @media (max-width: 576px) {
    .startLogin {
      height: 50%;
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
    }
  }
  


  
